<?xml version="1.0" encoding="utf-8"?>
<!--Copyright (C) 2016 Erik Cox-->
<manifest package="rocks.ecox.popularmovies"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--Used for checking network connectivity-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="AA_DB_NAME"
            android:value="RestClient.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />

        <activity android:name=".activities.MovieActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--Inform program of parent view to allow for back button on title bar-->
        <activity android:name=".activities.DetailActivity"
            android:parentActivityName=".activities.MovieActivity">
        </activity>
    </application>

</manifest>